/*Layout*/

article, aside, details, figcaption, figure, 
footer, header, hgroup, main, menu, nav{

    background-color: #E8EADD;
}

/*Container*/

h1 {
    font-weight: bold;
    text-align: center;
    color: #332F40; 
    font-size: 6em;
    font-family: Comic Sans, Comic Sans MS, cursive;
    text-decoration: uppercase;
}

body{
    background-color: #E8EADD;
}

#messagearea {
    float: left;
    background-color: white;
    width: 450px;
    min-height: 300px auto;

}

form{
    max-width: 50%;
}
#mainsection{
    max-width: 50%;
    margin: 0px 0px 0px 400px;
}
#container{
    float: left;
    width: 50%;
    height: 100%;
}
#container2{
    float: left;
    width: 50%;
}

#formtext{
    font-size: 2em;
}

.messageContainer{
    width: 98%;
    float: left;
    background-color: #A8C4B4;
    border: 1px solid black;
    margin: 3px 3px 3px 3px;
}

.textContainer{
    width: 85%;
    float: left;
    font-size: 1.2em;
}

.time{
    text-indent: 13px;
}

.detailsContainer{
    width: 15%;
    float: left;
    text-indent: 8px;
    font-size: 0.8em;
    margin-top: 10px;
}
.input{
    max-width: 85%;
    word-break: break-all;
    margin-left: 10px;
}

img{
    margin-right: 5px;
}

#counterDiv{
    float: right;
    margin-right: 42%;
}
